

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* reset   ****************************************   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


body {
    width : 100vw;  
}



/* variables   ************************************  */






/* mixins   ************************************  */

@mixin typo-menu {    
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
}


@mixin typo-title-nextsound {
    color: rgb(201, 189, 189);
    font-family: "Crimson+pro", sans-serif;
    font-size: 4rem;

}


/*Header *******************************************   */

.header_container {
    background-color: #324A5F;
    color: white;     
}


.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: dashed 7px rgb(148, 171, 16);    
    height: 10vh;    
    margin: 0 10%;
        
}



.menu {
    display: flex;
    justify-content: space-between; 
    border: dashed 5px rgb(243, 136, 136);
    width: 50%;
    @include typo-menu; 
}


.ctas_header {
    display: flex;
    justify-content: space-between;
    border: dashed 5px rgb(232, 54, 54); 
    width: 20%;
    @include typo-menu; 
       
}




.header_bottom {
    display: flex;
    justify-content: flex-start;
    gap:10%;
    border: dashed 7px rgb(249, 223, 58);
    margin: 0 10%;
}

.header_bottom_img {
    border: solid 10px rgb(241, 55, 195);
    object-fit: cover;
    width: 100%;
}


.header_slogan_container {
    border: solid 10px rgb(101, 10, 96);
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}

.header_slogan {
    @include typo-title-nextsound;
}

/*Section 1: écoute*******************************************   */
.ecoute_container {
    background-color: #0C1B21;
    color: white;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
}

.top_ecoute_container {    
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    
}


.icone_ecoute {
  margin: 0 auto;  
}


.container_ecoute_slogan h3 {
    padding: 8% 0;
}


.triplecards_ecoute_container {
    display: flex;
    justify-content: space-between;
    border: solid 10px rgb(238, 232, 48);
    width: 60%;
   
    div {
        width: calc(100%/3);
    }     
}

.container_card1_ecoute {
    border: dashed 10px rgb(48, 209, 238);
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    max-width: 250px; 
    
        img {
            object-fit: cover;
            width: 100%;
        }     
}

.container_card2_ecoute {
    border: dashed 10px rgb(194, 48, 238);
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    max-width: 250px;

        img {
            object-fit: cover;
            width: 100%;
        }  
 }

.container_card3_ecoute {
    border: dashed 10px rgb(237, 114, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    max-width: 250px;

        img {
            object-fit: cover;
            width: 100%;
        }    
 }

/*Section 2: abonnement*******************************************   */
.abonnement_container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5FB0B7;
    padding: 3% 0;  
}

.top_abonnement_container {
    margin: 0 10%;
    border: solid 10px rgb(200, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_abonnement_slogan h3{
    padding: 8% 0;
}


.maxi_card_abonnement {
    display: flex;
    justify-content: center;       
    border: solid 10px rgb(127, 10, 10);
    div {
        width: calc(100%/2);       
    }
    margin: 0 10%;
}

.maxi_card_img {
    border: dashed 7px yellowgreen;
    object-fit: cover;
}
 
.maxi_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: dashed 7px rgb(31, 42, 8);
    padding: 0 3%;
}

/*Section 3: audio_albums*******************************************   */

.audio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C1B21;
    color: white;
    padding: 3% 0;

}


.top_audio_container{
    display: flex;
    flex-direction: column;
    align-items: center;            
}

.audio_container h3{
    padding: 8% 0;
}

.cards_container{     
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;   
    border: dashed 7px rgb(242, 20, 209);    
    margin: 0 15%;
    padding: 2%;     
}

.cta_audio {
    margin: 2% 0;
}


/*Section 4: inscription*******************************************   */
.subscription_container {
    display: flex;
    justify-content: center;   
    background-color: #8DE969;
    
    .subscription_left_img {
        object-fit: cover;
        width: 100%;        
    }
}

.subscription_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: dashed 5px rgb(242, 96, 244);       
    height: 100%;
    padding: 0 11% 0 5%;
    
}



.maxi_card_inscription {
    display: flex;
    justify-content: center;
    align-items: center;       
    border: solid 10px rgb(127, 10, 10);
    div {
        width: calc(100%/2);    
    }
    
}



/*Section 5: footer*******************************************   */

.footer_container {   
    background-color: #0C1B21;
    color: white;
    padding: 3% 0; 
}

.footer_subcontainer {
    display: flex;   
    justify-content: space-around;  
    gap: 3%;
    div {
        width: calc(100%/3);        
    }

    .footer_center_img {
        object-fit: cover;
        width: 100%;
        
    }
    margin: 0 10%;
    border: dashed 5px coral;    
}



.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: dashed 7px rgb(227, 224, 43); 
}

.footer_title {
    font-size: 2rem;
}

.footer_center {
    border: dashed 7px rgb(53, 202, 247); 
}


.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: dashed 7px rgb(91, 248, 43); 
}