
/* reset   ****************************************   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


body {
    width : 100vw;
    color: rgb(255, 255, 255);    
}

/* Import Google font ******************************************* */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');



/* variables couleurs  ************************************  */

$lightgreenBtn : #8DE969;

$darkGrey : #333333;

$richBlack: #0C1B21;

$linkWhite: #FFF;



/* mixins couleurs et typos ************************************  */

@mixin font_navbar_menu {        
    font-family: "Montserrat", sans-serif;
    font-size: 0.90rem;
    font-weight: lighter;
}


@mixin font_title_nextsound {    
    font-family: "Crimson+pro", serif;
    font-size: 3rem;
    font-weight: bold;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
    //text-shadow: 10px 10px #F0F0F0;  
  
  @keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#12515f;;
    }
    
    40%{
      color:#A0D468;
    }
    
    60%{
      color:#4FC1E9;
    }
    
    80%{
      color:#A0D468;
    }
    
    100%{
      color:#4FC1E9;
    }
  }
  
  @-moz-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-webkit-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#A0D468;
    }
    
    60%{
      color:#4FC1E9;
    }
    
    80%{
      color:#A0D468;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  
  
  
}

@mixin font_content_header_slogan {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;    
}

@mixin h3_sous_titre {
    font-family: "Crimson+Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 5% 0;
}

@mixin paragraphe {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; 
    line-height: 1.5rem;    
}


@mixin maxi_card_text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem; 
    line-height: 1.7rem;
    font-weight: lighter;
}


@mixin maxi_card_text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem; 
    font-weight: lighter;
    font-style: italic;
}

@mixin lightgreenBtn_text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;     
    font-weight: bold;
    padding: 2% 4%;
    
}

@mixin btnShadow {
    box-shadow: 0 4px  rgba(0,0,0,0.25);
}       

@mixin btn_cta_audioTxt {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.75% 1%; 
}



@mixin XS_inscription {
    font-family: "Montserrat", sans-serif;    
    font-size: 0.875rem; 
    font-weight: regular;
    font-style: italic;
}

@mixin txt_essai {
    font-family: "Montserrat", sans-serif;    
    font-size: 1.5rem; 
    font-weight: regular; 
    color: black;  
}


@mixin txt_placeholder {
    font-family: "Montserrat", sans-serif;    
    font-size: 1.5rem; 
    font-weight: regular; 
    color: rgba(0,0,0,0.25);
    padding-left: 3%; 
}


@mixin footer_right_txt {
    font-family: "Montserrat", sans-serif;    
    font-size: 1.25rem; 
    font-weight: regular; 
}


@mixin cta_blueBtn {
    font-family: "Montserrat", sans-serif;    
    font-size: 1.25rem; 
    font-weight: regular; 
    color: white;
    background-color: #324A5F;
    padding: 1.5% 2%;
    border-radius: 5px;
}



@mixin hoverBtn {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;    
}


@mixin hoverBtnListeContenu {
    background-color: wheat;
    border: 3px solid white;
    border-radius: 5px;
}

/*Typographie sous titres et paragraphes *******************************************   */

h3 {
    @include  h3_sous_titre;
}


.p16px {
    @include paragraphe;
}


.maxi_card_text1 {
 @include maxi_card_text1;
 
}

.span_bold {
    font-weight: 600;  
}

.maxi_card_text2 {
    @include maxi_card_text2;
}

a[href*="#"] {
    color: $linkWhite;
}

/*Boutons ********************************************** */
.button:hover {
    @include hoverBtn;
}

.button-liste-contenu:hover {
    @include hoverBtnListeContenu;
}

.cta_audio.hoverBtnListeContenu:hover {
    background-color: transparent; 
    color: $lightgreenBtn; 
    border: 3px solid $lightgreenBtn;
}

/*Animations & transitions************************  */
.header_top_logo, .header_slogan, .footer_title  {
    transition-property: transform;
        transition-duration: 400ms;
        &:hover {
        transform: scale(1.30);
    }
}

/* STRUCTURE DE LA PAGE****************************** */

/*Header *******************************************  */

.header_container {
    background-color: #324A5F;
    height:683px;   
}


.header_top {
    display: flex;
    justify-content: space-around;
    align-items: center;       
    height: 12vh;    
    margin: 0 7%;    
}


.menu {
    display: flex;
    justify-content: space-between;   
    width: 30%;
    @include font_navbar_menu; 
}


.ctas_header {
    display: flex;
    justify-content: space-between;    
    width: 22%;
    @include font_navbar_menu;        
}

.se_connecter {
@include cta_blueBtn;
font-size: 0.75rem;
background-color: #1B2A41;
padding: 4% 5%;
}

.s_enregistrer {
    @include cta_blueBtn;
    font-size: 0.75rem;    
    background-color: #5FB0B7;
    padding: 4% 5%;
}
    

.header_bottom {
    display: flex;
    justify-content: flex-start;  
}

/* Style pour l'élément .header_bottom_iphone */
.header_bottom_iphone { 
    display: flex;
    justify-content: center;
    align-items: center;         
    object-fit: cover;   
    width: 100%;
    transition: transform 400ms;
}


/* Définition de l'animation */
@keyframes horizontal-shaking {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}


/* Animation appliquée lors du hover */
.header_bottom_iphone:hover {
    animation: horizontal-shaking 0.4s ease-in-out;
}


.header_slogan_container {    
    width: 800px;
    height: 480px;    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 160px;
    margin: 0 19% 0 0 ;   
}

.header_slogan {
    @include font_title_nextsound;
    margin-bottom: 6%;
}


.content_header_slogan {
    @include font_content_header_slogan;
}


.bold_content_header  {
    @include font_content_header_slogan;
    font-weight: 600;  
}


/*Section 1: écoute*******************************************   */
.ecoute_container {
    background-color: #0C1B21;   
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

.top_ecoute_container {    
    display: flex;  
    flex-direction: column;
    align-items: center;    
}


.icone_ecoute {
  margin: 0 auto;
  width: 60px;
  height: 60px;
    img {
        object-fit: cover;
        width: 100%;
        }   
}


.container_ecoute_slogan h3 {
    margin: 8%  0;
}


.triplecards_ecoute_container {
    display: flex;
    justify-content: space-between;
   
    width: 1000px;    
        div {
            width: calc(100%/3);
        } 
    }

.container_card1_ecoute {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    max-width: 250px; 
    
        img {
            object-fit: cover;
            width: 100%;
            margin-bottom:7%;
        } 
        transition-property: transform;
        transition-duration: 400ms;
        &:hover {
        transform: scale(1.1);
    }        
}
.container_card2_ecoute {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    max-width: 250px;

        img {
            object-fit: cover;
            width: 100%;
            margin-bottom:7%;
        } 
        transition-property: transform;
        transition-duration: 400ms;
        &:hover {
        transform: scale(1.1);
    }        
 }

.container_card3_ecoute {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    max-width: 250px;

        img {
            object-fit: cover;
            width: 100%;
            margin-bottom:7%;
        } 
        transition-property: transform;
        transition-duration: 400ms;
        &:hover {
        transform: scale(1.1);
    }        
}
/*Section 2: abonnement*******************************************   */

.dollar_icone {
    margin: 0 auto;
    width: 60px;
    height: 60px;

    img {
        object-fit: cover;
        width: 100%;
    }   
}
  


.abonnement_container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5FB0B7;
    padding: 3%;
    scroll-margin-top: 120%;  
}

.top_abonnement_container {
    margin: 0 10%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_abonnement_slogan h3{
    padding: 3% 0;
}


.maxi_card_abonnement {
    display: flex;
    justify-content: center;       
    
    div {
        width: calc(100%/2);       
    }
    margin: 1% 10%;
}

.maxi_card_img {
    object-fit: cover;
}
 
.maxi_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;    
    padding-left: 6%;   
}


.cta_abonnement {
    background-color:  $lightgreenBtn;
    @include lightgreenBtn_text;
    border: none; 
    border-radius: 5px;
    @include btnShadow ;
}

/*Section 3: audio_albums*******************************************   */

.audio_album_icone {
    margin: 0 auto;
    width: 60px;
    height: 60px;

    img {
        object-fit: cover;
        width: 100%;
    }   
}


.audio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C1B21;   
    padding: 3% 0;
      
}




.audio_container h3{
    padding: 1% 0;
}

/***Flip cards******/
.flip_cards_main_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
    height: 470px;
    width: 1150px;  
    margin: 2% 0;
    
   
}

.flip_card {
    width: 200px;
    height: 200px;
    display: flex;   
    justify-content: center;
}

.flip_card_inner {
    
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner{
    transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip_card_front {
    background-color: transparent;
    color: black;
}

.flip_card_back {
    background-color: rgb(80, 241, 201);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3%;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(141, 40, 96);
    transform: rotateY(180deg);
}

.cta_audio {    
    background-color:  $lightgreenBtn;
    border: none; 
    border-radius: 5px;
    @include btn_cta_audioTxt;  
    width: 120%;
    padding: 5% 8%;  
   
}




/*Section 4: inscription*******************************************   */

    .subscription_left_img {
        object-fit: cover;
        width: 100%;
        //position: relative;
        //top: 3px;   
    }


.subscription_container {
    display: flex;
    justify-content: center;   
    background-color:$lightgreenBtn;        
}

.subscription_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;                    
    padding: 0% 5% 0% 2%;
    width: 560px;    
}


.subscription_right>h2 {
    color: $richBlack;
    text-align: left; 
    font-family: "Crimson+pro", serif;
    font-size: 3rem;
    font-weight: bold;  
    
    animation: flip 5s infinite;
    animation-delay: calc(4.5s * var(--i))
    }
    @keyframes flip {
    0%,80% {
        transform: rotateY(360deg); 
    }   
} 


.essai {
@include txt_essai;
padding: 4% 0;
}

input[placeholder] {
    border-radius: 20px;
    margin: 2% 0;
    @include txt_placeholder;
}


.placeholderTxt {    
    width : 100%;
    height: 70px;        
}

.maxi_card_inscription {
    display: flex;
    justify-content: center;
    align-items: center;       
    
    div {
        width: calc(100%/2);    
    }
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.cta_inscription {
    margin: 2% 0 3% 0;
    @include cta_blueBtn;
}




.text_XS_inscription  {
    @include XS_inscription;
    color: $darkGrey;
    width: 100%;
    text-align: justify;
   
}


/*Section 5: footer*******************************************   */

.footer_container {   
    background-color: #0C1B21;
    color: white;
    padding: 3% 0; 
}

.footer_title {
@include font_title_nextsound;
}

.footer_subcontainer {
    display: flex;   
    justify-content: space-around;  
    gap: 3%;
    div {
        width: calc(100%/3);        
    }

    .footer_center_img {
        object-fit: cover;
        width: 100%;
        
    }
    margin: 0 10%;
   
}



.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.footer_title {
    font-size: 2rem;
}


.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    @include footer_right_txt;
    }

.retour_vers_haut {
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    @include font_navbar_menu;
}

